@{
    ViewBag.Title = "Index";

}


<h2 class="text-center"><i>Welcome to NameSpace Theatre</i></h2>

<main>
    <div class="container mt-4">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/MimeTwo.jpg" class="d-block rounded" alt="Jondis_O_Bibidho_Belun_Selim_Al_Din" style="width: 80%;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/InterUniversity2015.jpg" class="d-block rounded" alt="Inter_University_Cultural_Competition_2015" style="width: 80%;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/AdibashiKolas.jpg" class="d-block rounded" alt="Adibashi_Kolas" style="width: 80%;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/MimeOne.jpg" class="d-block rounded" alt="Jondis_O_Bibidho_Belun_Selim_Al_Din" style="width: 80%;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/InterUniversity2017.jpg" class="d-block rounded" alt="Inter_University_Cultural_Competition_2017" style="width: 80%;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/PoddabotirAkkhan.jpg" class="d-block rounded" alt="PoddabotirAkkhanTraditionalForm" style="width: 80%;">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>